* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  position: relative;
}

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 3px;
}

.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/* Nav style */
header {
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.nav-toggle {
  display: none;
}

@media screen and (max-width: 1000px) {
  .nav-toggle-label {
    display: block;
  }

  nav {
    background-color: #cfd7d9;
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 0.2px 4px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1, 0);
  }

  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    margin-top: 2em;
    height: 100%;
    display: flex;
    align-items: center;
  }

  nav ul {
    margin: 0;
    padding: 0;
    padding-top: 55px;
    list-style: none;
  }

  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }

  nav a {
    color: #293241;
    text-decoration: none;
    font-size: 1rem;
    opacity: 0;
  }

  nav a:hover {
    color: #ee6c4d;
  }

  .nav-toggle:checked ~ nav {
    transform: scale(1, 1);
  }

  .nav-toggle:checked ~ nav a {
    opacity: 1;
  }

  .svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 1000px) {
  .nav-toggle-label {
    display: none;
  }

  nav {
    background-color: #cfd7d9;
    width: 100%;
    box-shadow: 0 0.2px 4px 0 rgba(0, 0, 0, 0.2);
  }

  nav ul {
    margin: 0;
    padding: 0;
    justify-content: center;
    list-style: none;
    display: flex;
  }

  nav li {
    margin: 20px;
  }

  nav a {
    color: #293241;
    text-decoration: none;
    margin: 50px;
  }

  nav a:hover {
    color: #ee6c4d;
  }
}

.account-img {
  width: 250px;
  height: 250px;
}

/* Section1 */

.content1 {
  color: #293241;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #cfd7d9;
  padding-top: 100px;
  transition: transform 1s, opacity 1s;
}

.content-info {
  margin: auto;
  width: 60%;
}

.name {
  font-weight: 100;
  padding-top: 30px;
}

.title {
  font-size: 72px;
  font-weight: 800;
  padding-top: 30px;
  padding-bottom: 30px;
}

.btn {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 27px;
  color: #293241;
  border-color: #293241;
  cursor: pointer;
  height: 45px;
  text-align: center;
  width: 20%;
}

.btn:hover {
  background-color: #ee6c4d;
}

.social-icons {
  cursor: pointer;
  margin: 50px;
  width: 30px;
  height: 30px;
}

/* Section2 */

.content2 {
  color: #293241;
  background-color: #ffffffbf;
  transition: transform 1s, opacity 1s;
}

.screen {
  width: 500px;
  height: 500px;
}

.gif {
  width: 50px;
  height: 50px;
}

.titles {
  display: grid;
  align-items: flex-end;
  justify-content: center;
  gap: 0.5rem;
  grid-template-rows: repeat(2, 1fr);
}

.titles h1 {
  color: #33cccc;
  font-weight: 800;
}

.titles p {
  font-size: 38px;
  font-weight: 800;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding-top: 20px;
}

.section-info {
  align-self: flex-start;
  padding-top: 140px;
  margin-left: 20%;
  margin-right: 20%;
}

.section-info h1 {
  text-decoration: underline;
  text-decoration-color: #ee6c4d;
  text-decoration-thickness: 5px;
  text-underline-offset: 5px;
}

.section-info p {
  padding-top: 20px;
  text-align: justify;
}

.section-info img {
  margin-bottom: 10px;
}

/* Section3 */

.content3 {
  color: #293241;
  background-color: #cfd7d9;
  padding-bottom: 200px;
  transition: transform 1s, opacity 1s;
}

.btn-switch1,
.btn-switch2,
.btn-switch3 {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  color: #293241;
  border-color: #293241;
  cursor: pointer;
  height: 45px;
  text-align: center;
  width: 15%;
}

.btn-switch1:hover,
.btn-switch2:hover,
.btn-switch3:hover {
  background-color: #ee6c4d;
}

.switch-info {
  background-color: white;
  text-align: start;
  border: 2px solid #33cccc;
  border-radius: 24px;
  box-shadow: 0 1px 7px #293241;
  padding: 7rem;
  margin-left: 15%;
  margin-right: 15%;
}

.switch-buttons {
  text-align: center;
  padding-top: 120px;
  transform: translateY(14%);
}

.card-change {
  display: none;
  text-align: justify;
}

.card-active {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  align-items: center;
}

.card-content {
  grid-column: span 5;
}

.card-content h1 {
  padding-bottom: 10px;
}

.tab-active {
  transform: translateY(-25%);
}

/* Section4 */

.content4 {
  color: #293241;
  background-color: #ffffff;
  transition: transform 1s, opacity 1s;
}

.arrow1 {
  width: 50px;
  height: 50px;
  left: 10%;
  transform: translate(-50%, -100%);
  cursor: pointer;
}

.arrow2 {
  width: 50px;
  height: 50px;
  right: 10%;
  transform: translate(-50%, -100%);
  cursor: pointer;
}

.slider-btn {
  position: absolute;
  top: 50%;
  z-index: 10;
}

.png {
  width: 100px;
  height: 100px;
}

.user {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  padding-top: 50px;
}

.contact {
  grid-column: span 4;
}

.change-info {
  display: grid;
  align-self: flex-start;
  padding-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
}

.contact-info {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  align-items: flex-end;
  text-align: justify;
}

.contact-info h1 {
  text-decoration: underline;
  text-decoration-color: #ee6c4d;
  text-decoration-thickness: 5px;
  text-underline-offset: 5px;
}

.slider {
  max-width: 100rem;
  height: 45rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.testimonial {
  position: relative;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.dots {
  position: absolute;
  bottom: 28%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #293241;
  opacity: 0.7;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #ee6c4d;
  opacity: 1;
}

/* Section5 */

.content5 {
  color: #293241;
  background-color: #cfd7d9;
  padding-bottom: 120px;
  transition: transform 1s, opacity 1s;
}

.last-text {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 6rem;
  justify-content: center;
  place-items: center;
  padding-top: 75px;
  margin-left: 20%;
  margin-right: 20%;
}

.last-text p {
  padding-left: 60px;
  font-size: 28px;
  font-weight: 800;
}

/* Footer */
.footer {
  background-color: #cfd7d9;
  padding-bottom: 40px;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.footer__item {
  margin-top: 50px;
}

.footer__link {
  font-size: 1.2rem;
  color: #293241;
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid #293241;
}
